.formInput.ant-form-item {
  flex: 1;

  .ant-form-item-label {
    label {
      @apply text-white;
    }
  }

  .ant-form-item-control {
    width: 100%;
  }

  .app-form-control {
    width: 100%;
    background: transparent;
    font-size: 16px;
    @apply border border-alt py-3 px-3 text-white rounded-md;

    &::placeholder {
      @apply text-gray-500;
    }

    &:disabled {
      @apply opacity-60 cursor-not-allowed;
    }
  }

  .app-form-textarea {
    min-height: 7rem;
    resize: vertical;
  }

  &.whiteBg {
    .ant-form-item-label label {
      @apply text-black;
    }

    .app-form-control {
      @apply text-black;

      &::placeholder {
        @apply text-gray-500;
      }
    }
  }
}

.white-bg {
  .formInput.ant-form-item {
    .ant-form-item-label label {
      color: black !important;
    }

    .app-form-control {
      @apply border border-primary text-black;

      &::placeholder {
        @apply text-gray-500;
      }
    }
  }
}
