.loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;

  &.open {
    opacity: 1;
    pointer-events: all;
    display: flex;
    background: rgba(17, 24, 39, 0.65);
  }

  &.close {
    opacity: 0;
    pointer-events: none;
    display: none;
    background: transparent;
  }
}

.ant-modal {
  &.white-bg {
    .ant-modal-content {
      @apply bg-zinc-200;
      .ant-modal-close-x {
        color: black;
      }
    }

    .ant-modal-header {
      background: none;
    }
    .ant-modal-title {
      @apply text-gray-700;
    }
  }
  .ant-modal-content {
    @apply bg-zinc-900;
    .ant-modal-close-x {
      color: white;
    }
  }

  .ant-modal-header {
    background: none;
  }
  .ant-modal-title {
    @apply text-white;
  }
}
